table,.search{
    margin-top:30px;
}table{
  padding:10px;
  text-align:center;
}
table .btn-danger{
  margin-left:25px;
} 
.search-form-field{
  width:100%;
}
.mat-raised-button{
  width:90%
}
mat-cell,mat-header-cell,mat-footer-cell,mat-paginator{
  font-size:20px;
}
mat-header-cell{  font-weight:bold;
}.row{
  margin-bottom:20px;
}